body {
  background-image: url("https://images.pexels.com/photos/242236/pexels-photo-242236.jpeg?cs=srgb&dl=background-cement-concrete-paint-242236.jpg&fm=jpg");
  background-position: center;
  background-size: cover;
  color: $text_color;
  font-family: 'Righteous', cursive;
  letter-spacing: 1px;
}

